*{
    margin: 0;
    color: white;
}
body{
    background-color: rgb(30, 30, 30);
}
.nav_menu{
    background-color: black;
    height: 70px;
    display: flex;
    align-items: center;
}
.logo_img{
    width: 65px;
    margin-left: 15px;
    cursor: pointer;
}
.nav_menu_desctop{
    display: none;
}
.nav_menu_phone{
    display: flex;
    justify-content: end;
    width: 100%;
}
#button_nav_menu{
    /* background-image: url(../img/menu-icon.png); */
    width: 24px;
    height: 24px;
    background-color: rgb(0, 0, 0);
    border: none;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
}
#menu_icon{
    width: 24px;
    height: 24px;
    display: grid;
    grid-template-columns: repeat(1, 20px);
    grid-template-rows: repeat(3, 6px);
}
#menu_icon div{
    background-color: rgb(151, 151, 151);
    margin-top: 2px;
    border-radius: 2px;
}
#close_nav_menu{
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
}
#close_nav_menu div{
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
}
.close_nav_menu2{
    rotate: -45deg;
}
.close_nav_menu1{
    rotate: 45deg;
}
#nav_menu_phone{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 70px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
}
header ul{
    list-style-type: none;
    left: 0;
    padding: 0;
}
header ul li{
    padding: 20px 0;
    margin: 5px 15px;
}
header ul a{
    text-decoration: none;
}
.liHeader{
    color: red;
}
.logo_img_index{
    background-color: rgba(43, 43, 43, .35);
    border-radius: 10px;
}
.pRU{
    margin-top: 25px;
    font-size: 12px;
}
.footerMenu{
    height: auto;
    background-color: rgb(48, 48, 48);
    padding: 30px 15px 25px 15px;
}
.footerInfo{
    display: grid;
    /* border: 1px solid black; */
    grid-template-columns: repeat(1, 1fr);
}
.footerLogoInfo{
    display: grid;
    grid-template-columns: 115px 1fr;
    padding: 0 0 15px 0;

}
footer a{
    text-decoration: none;
}
footer p{
    color: gray;
}
.footerImg{
    width: 100px;
    background-color: rgba(0, 0, 0, 0.522);
    border-radius: 10px;
}
.footerFeedback{
    padding-top: 20px;
    border-top: 1px solid black;
}
.footerFeedback p{
    font-size: 12px;
}
.footerURL{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}



@media (min-width: 900px) {
    .nav_menu_phone{
        display: none;
    }
    .nav_menu_desctop{
        display: flex;
    }
    header ul{
        display: flex;
        list-style-type: none;
    }
    a{
        text-decoration: none;   
    }
    header ul li{
        padding: 10px;
        border-radius: 10px;
        margin: 0 5px;
        transition: 0.3s;
    }
    header ul li:hover{
        background-color: rgb(18, 18, 18);
    }
    .liHoverHeader{
        background-color: red;
    }
    .liHoverHeader:hover{
        background-color: red;
    }
    .nav_menu{
        height: 90px;
    }
    .logo_img{
        width: 80px;
        margin-left: 50px;
        cursor: pointer;
        border-radius: 10px;
        transition: .3s;
    }
    .logo_img:hover{
        background-color: rgb(18, 18, 18);
    }
    .logo_img_index:hover{
        background-color: rgba(43, 43, 43, .35);
    }
}











/* .nav_menu{
    height: 90px;
    background-color: black;
    display: flex;
    align-items: center;
}
.nav_menu1{
    display: flex;
    align-items: center;
}
header ul{
    display: flex;
    list-style-type: none;
}
a{
    text-decoration: none;   
}
header ul li{
    padding: 10px;
    border-radius: 10px;
    margin: 0 5px;
    transition: 0.3s;
}
header ul li:hover{
    background-color: rgb(18, 18, 18);
}
 */
